:root {
  --bs-link-color: #5d87ff;
  --bs-link-color-rgb: 93, 135, 255;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #4a6ccc;
  --bs-link-hover-color-rgb: 74, 108, 204;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #2a3547;
}
h5 {
  font-size: 1.09375rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
img {
  vertical-align: middle;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container-fluid {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #2a3547;
}
.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #5a6a85;
}
.form-control {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5a6a85;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #dfe5ef;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #5a6a85;
  background-color: transparent;
  border-color: #aec3ff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075),
    0 0 0 0.25rem rgba(93, 135, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075),
    0 0 0 0.25rem rgba(93, 135, 255, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-webkit-datetime-edit {
  display: block;
  padding: 0;
}
.form-control::-webkit-input-placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: var(--bs-secondary-color);
  opacity: 1;
}
.form-control:disabled {
  background-color: var(--bs-form-control-disabled-bg);
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 8px 16px;
  margin: -8px -16px;
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
  color: #5a6a85;
  background-color: var(--bs-tertiary-bg);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: var(--bs-border-width);
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 8px 16px;
  margin: -8px -16px;
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
  color: #5a6a85;
  background-color: var(--bs-tertiary-bg);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: var(--bs-border-width);
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: var(--bs-secondary-bg);
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--bs-secondary-bg);
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: 8px 38px 8px 16px;
  -moz-padding-start: 13px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5a6a85;
  background-color: transparent;
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid #dfe5ef;
  border-radius: 7px;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    -webkit-transition: none;
    transition: none;
  }
}
.form-select:focus {
  border-color: #aec3ff;
  outline: 0;
  -webkit-box-shadow: unset, 0 0 0 0.25rem rgba(93, 135, 255, 0.25);
  box-shadow: unset, 0 0 0 0.25rem rgba(93, 135, 255, 0.25);
}
.form-select:disabled {
  background-color: var(--bs-form-control-disabled-bg);
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #5a6a85;
}
.form-check {
  display: block;
  min-height: 1.188em;
  padding-left: 1.688em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.688em;
}
.form-check-input {
  --bs-form-check-bg: transparent;
  width: 1.188em;
  height: 1.188em;
  margin-top: 0.156em;
  vertical-align: top;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1.25px solid #dfe5ef;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check-input:active {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #aec3ff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(93, 135, 255, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(93, 135, 255, 0.25);
}
.form-check-input:checked {
  background-color: #5d87ff;
  border-color: #5d87ff;
}
.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input[type="checkbox"]:indeterminate {
  background-color: #5d87ff;
  border-color: #5d87ff;
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  -webkit-filter: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  cursor: default;
  opacity: 0.5;
}
[data-bs-theme="dark"]
  .form-switch
  .form-check-input:not(:checked):not(:focus) {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
}
.form-floating > .form-control-plaintext:not(:-moz-placeholder-shown),
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control-plaintext:not(:-ms-input-placeholder),
.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.input-group > .form-control:not(:focus).is-valid,
.input-group > .form-floating:not(:focus-within).is-valid,
.input-group > .form-select:not(:focus).is-valid,
.was-validated .input-group > .form-control:not(:focus):valid,
.was-validated .input-group > .form-floating:not(:focus-within):valid,
.was-validated .input-group > .form-select:not(:focus):valid {
  z-index: 3;
}
.input-group > .form-control:not(:focus).is-invalid,
.input-group > .form-floating:not(:focus-within).is-invalid,
.input-group > .form-select:not(:focus).is-invalid,
.was-validated .input-group > .form-control:not(:focus):invalid,
.was-validated .input-group > .form-floating:not(:focus-within):invalid,
.was-validated .input-group > .form-select:not(:focus):invalid {
  z-index: 4;
}
.btn {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 7px;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 14;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #5a6a85;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 7px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: unset;
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  -webkit-box-shadow: var(--bs-btn-box-shadow);
  box-shadow: var(--bs-btn-box-shadow);
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  -webkit-box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  -webkit-box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  -webkit-box-shadow: var(--bs-btn-active-shadow);
  box-shadow: var(--bs-btn-active-shadow);
}
.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  -webkit-box-shadow: var(--bs-btn-active-shadow),
    var(--bs-btn-focus-box-shadow);
  box-shadow: var(--bs-btn-active-shadow), var(--bs-btn-focus-box-shadow);
}
.btn:disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5d87ff;
  --bs-btn-border-color: #5d87ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4f73d9;
  --bs-btn-hover-border-color: #4a6ccc;
  --bs-btn-focus-shadow-rgb: 117, 153, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4a6ccc;
  --bs-btn-active-border-color: #4665bf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5d87ff;
  --bs-btn-disabled-border-color: #5d87ff;
}
.btn-outline-primary {
  --bs-btn-color: #5d87ff;
  --bs-btn-border-color: #5d87ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5d87ff;
  --bs-btn-hover-border-color: #5d87ff;
  --bs-btn-focus-shadow-rgb: 93, 135, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5d87ff;
  --bs-btn-active-border-color: #5d87ff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #5d87ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5d87ff;
  --bs-gradient: none;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    -webkit-transition: none;
    transition: none;
  }
}
.nav-link:focus,
.nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: #2a3547;
  --bs-navbar-hover-color: #5d87ff;
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3359375rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.09375rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.09375rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2890, 106, 133, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: 7px;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .dropdown-menu {
  position: static;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 200px
}

.navbar-nav .dropdown-menu .dropdown-item {
    border-radius: 8px
}

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
.card {
  --bs-card-spacer-y: 30px;
  --bs-card-spacer-x: 30px;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: #2a3547;
  --bs-card-subtitle-color: #2a3547;
  --bs-card-border-width: 0px;
  --bs-card-border-color: #ebf1f6;
  --bs-card-border-radius: 7px;
  --bs-card-box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgb(145 158 171) 0px 12px 24px -4px;
  --bs-card-inner-border-radius: 7px;
  --bs-card-cap-padding-y: 15px;
  --bs-card-cap-padding-x: 30px;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  -webkit-box-shadow: var(--bs-card-box-shadow);
  box-shadow: var(--bs-card-box-shadow);
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.position-relative {
  position: relative !important;
}
.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-6 {
  margin-bottom: 12px !important;
}
.mb-7 {
  margin-bottom: 30px !important;
}
.ms-auto {
  margin-left: auto !important;
}
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.fs-2 {
  font-size: 0.75rem !important;
}
.fs-3 {
  font-size: 0.875rem !important;
}
.fs-4 {
  font-size: 1rem !important;
}
.fs-6 {
  font-size: 1.25rem !important;
}
.fs-8 {
  font-size: calc(1.3125rem + 0.75vw) !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-primary-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.bg-light-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-light-primary-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.rounded {
  border-radius: var(--bs-border-radius) !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .fs-8 {
    font-size: 1.875rem !important;
  }
}
.left-sidebar {
  width: 270px;
  background-color: #dfefff !important;
  position: absolute;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  height: 100%;
  z-index: 11;
  /*border-right: 1px solid rgb(229, 234, 239);*/
}
.left-sidebar .scroll-sidebar {
  overflow-y: auto;
  padding: 0 24px;
  height: calc(100vh - 80px);
  border-radius: 7px;
}
.brand-logo {
  min-height: 70px;
  padding: 0 24px;
  background-color: #007bff !important;
}
.unlimited-access {
  padding: 18px 22px 25px;
  margin: 0 -5px;
}
.unlimited-access .unlimited-access-img {
  margin: -35px -5px 0 -43px;
}
.nav-small-cap {
  margin-top: 24px;
  color: #2a3547;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 12px;
  line-height: 26px;
  text-transform: uppercase;
}
.nav-small-cap .nav-small-cap-icon {
  display: none;
}
.sidebar-nav ul .sidebar-item .sidebar-link {
  color: #2a3547;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 25px;
  position: relative;
  margin: 0px 0px 2px;
  padding: 10px;
  border-radius: 7px;
  gap: 15px;
  font-weight: 400;
}
.sidebar-nav ul .sidebar-item .sidebar-link span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-nav ul .sidebar-item .sidebar-link .ti {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 21px;
}
.sidebar-nav ul .sidebar-item .sidebar-link:hover {
  background-color: rgba(93, 135, 255, 0.1);
  color: #5d87ff;
}
.app-header {
  background-color: #007bff !important;
  position: relative;
  z-index: 50;
  width: 100%;
  background: #fff;
  padding: 0 25px;
}
.app-header .navbar {
  min-height: 70px;
  padding: 0;
}
.app-header .navbar .navbar-nav .nav-item .nav-link {
  padding: 8px 16px;
  line-height: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  z-index: 2;
}
.nav-icon-hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-icon-hover:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ecf2ff;
}
.navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 200px;
}
.navbar-nav .dropdown-menu .dropdown-item {
  border-radius: 8px;
}
.notification {
  content: "";
  position: absolute;
  top: 22px;
  right: 9px;
  width: 8px;
  height: 8px;
}
@media (max-width: 991.98px) {
  .app-header .navbar {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .app-header .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 767.98px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
  }
  .navbar-nav .nav-item.dropdown {
    position: static;
  }
}
@-webkit-keyframes animation-dropdown-menu-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation-dropdown-menu-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu-animate-up {
  -webkit-animation: animation-dropdown-menu-fade-in 0.5s ease 1,
    animation-dropdown-menu-move-up 0.5s ease-out 1;
  animation: animation-dropdown-menu-fade-in 0.5s ease 1,
    animation-dropdown-menu-move-up 0.5s ease-out 1;
}
.page-wrapper {
  position: relative;
}
.body-wrapper {
  position: relative;
}
.body-wrapper > .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
@media (max-width: 767.98px) {
  .body-wrapper > .container-fluid {
    padding: 30px 20px;
  }
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"]
  .left-sidebar {
  position: fixed;
  top: 0;
}
#main-wrapper[data-layout="vertical"][data-header-position="fixed"]
  .app-header {
  position: fixed;
  z-index: 10;
}
#main-wrapper[data-layout="vertical"][data-header-position="fixed"]
  .body-wrapper
  > .container-fluid {
  padding-top: calc(70px + 15px);
}
@media (min-width: 1200px) {
  #main-wrapper[data-layout="vertical"][data-header-position="fixed"]
    .app-header {
    width: calc(100% - 270px);
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="full"] .body-wrapper {
    margin-left: 270px;
  }
}
@media (max-width: 1199px) {
  #main-wrapper[data-layout="vertical"][data-sidebartype="full"] .left-sidebar {
    left: -270px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  color: #5d87ff;
}
ul {
  list-style: none;
  padding-left: 0;
}
:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.card-title {
  font-size: 18px;
}
.card {
  margin-bottom: 30px;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: auto;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: 0.125rem;
}
.radial-gradient {
  position: relative;
}
.radial-gradient:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background: radial-gradient(#d2f1df, #d3d7fa, #bad8f4) 0 0/400% 400%;
  -webkit-animation: 15s ease 0s infinite normal none running gradient;
  animation: 15s ease 0s infinite normal none running gradient;
}
.sidebar-nav ul .sidebar-item.selected > .sidebar-link, .sidebar-nav ul .sidebar-item.selected > .sidebar-link.active, .sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: #5d87ff;
    color: #fff;
}